In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\satis\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\satis\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\satis\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
!pip freeze

alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1610472525955/work
anyio @ file:///C:/ci/anyio_1620153418380/work/dist
appdirs==1.4.4
argh==0.26.2
argon2-cffi @ file:///C:/ci/argon2-cffi_1613037959010/work
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///C:/ci/astroid_1613501047216/work
astropy @ file:///C:/ci/astropy_1617745647203/work
async-generator @ file:///home/ktietz/src/ci/async_generator_1611927993394/work
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1615918855173/work
Babel @ file:///tmp/build/80754af9/babel_1607110387436/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size @ file:///tmp/build/80754af9/backports.shutil_get_terminal_size_1608222128777/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///C:/ci/bcrypt_1597936263757/work
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
bitarray @ file:///C:/ci/bitarray_1618435038389/work
bkcharts==0.2
black==19.10b0
bleach @ file:///tmp/build/80754af9/bleach_1612211392645/work
bokeh @ file:///C:/ci/bokeh_1620784067744/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1613247279197/work
chardet @ file:///C:/ci/chardet_1607690654534/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
comtypes==1.1.9
conda==4.10.1
conda-build==3.21.4
conda-content-trust @ file:///tmp/build/80754af9/conda-content-trust_1617045594566/work
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262320430/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography @ file:///C:/ci/cryptography_1616769344312/work
cycler==0.10.0
Cython @ file:///C:/ci/cython_1618435363327/work
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1617390489108/work
decorator @ file:///tmp/build/80754af9/decorator_1617916966915/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distributed @ file:///C:/ci/distributed_1617384289923/work
docutils @ file:///C:/ci/docutils_1617481617511/work
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock @ file:///home/linux1/recipes/ci/filelock_1610993975404/work
flake8 @ file:///tmp/build/80754af9/flake8_1615834841867/work
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
fsspec @ file:///tmp/build/80754af9/fsspec_1617959894824/work
future==0.18.2
gevent @ file:///C:/ci/gevent_1616773090559/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
greenlet @ file:///C:/ci/greenlet_1611958565931/work
h5py==2.10.0
HeapDict==1.0.1
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
htmlmin==0.1.12
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
imagecodecs @ file:///C:/ci/imagecodecs_1617996768495/work
ImageHash==4.2.0
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
imagesize @ file:///home/ktietz/src/ci/imagesize_1611921604382/work
importlib-metadata @ file:///C:/ci/importlib-metadata_1617877484576/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///C:/ci/ipykernel_1596190155316/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1617121002983/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1610481889018/work
isort @ file:///tmp/build/80754af9/isort_1616355431277/work
itsdangerous @ file:///home/ktietz/src/ci/itsdangerous_1611932585308/work
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1606914528444/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1616770841739/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///C:/ci/jupyter_core_1612213356021/work
jupyter-packaging @ file:///tmp/build/80754af9/jupyter-packaging_1613502826984/work
jupyter-server @ file:///C:/ci/jupyter_server_1616084298403/work
jupyterlab @ file:///tmp/build/80754af9/jupyterlab_1619133235951/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1617134334258/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
keyring @ file:///C:/ci/keyring_1614616910860/work
kiwisolver @ file:///C:/ci/kiwisolver_1612282606037/work
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529307648/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.36.0
locket==0.2.1
lxml @ file:///C:/ci/lxml_1616443455957/work
MarkupSafe==1.1.1
matplotlib @ file:///C:/ci/matplotlib-suite_1613408055530/work
mccabe==0.6.1
menuinst==1.4.16
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.3.0
mkl-random @ file:///C:/ci/mkl_random_1618854156666/work
mkl-service==2.3.0
mock @ file:///tmp/build/80754af9/mock_1607622725907/work
more-itertools @ file:///tmp/build/80754af9/more-itertools_1613676688952/work
mpmath==1.2.1
msgpack @ file:///C:/ci/msgpack-python_1612287368835/work
multimethod==1.4
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic @ file:///tmp/build/80754af9/nbclassic_1616085367084/work
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1601914925608/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1618327084230/work
nose @ file:///tmp/build/80754af9/nose_1606773131901/work
notebook @ file:///C:/ci/notebook_1616443715883/work
numba @ file:///C:/ci/numba_1616774458845/work
numexpr @ file:///C:/ci/numexpr_1618856738664/work
numpy @ file:///C:/ci/numpy_and_numpy_base_1618497418457/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
olefile==0.46
openpyxl @ file:///tmp/build/80754af9/openpyxl_1615411699337/work
packaging @ file:///tmp/build/80754af9/packaging_1611952188834/work
pandas @ file:///C:/ci/pandas_1618365634936/work
pandas-profiling==3.0.0
pandocfilters @ file:///C:/ci/pandocfilters_1605102497129/work
paramiko @ file:///tmp/build/80754af9/paramiko_1598886428689/work
parso==0.7.0
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
path @ file:///C:/ci/path_1614022440181/work
pathlib2 @ file:///C:/ci/pathlib2_1607025069150/work
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phik==0.11.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///C:/ci/pillow_1617386341487/work
pkginfo==1.7.0
pluggy @ file:///C:/ci/pluggy_1615976358795/work
ply==3.11
prometheus-client @ file:///tmp/build/80754af9/prometheus_client_1618088486455/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
psutil @ file:///C:/ci/psutil_1612298324802/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///tmp/build/80754af9/py_1607971587848/work
pycodestyle @ file:///home/ktietz/src/ci_mi/pycodestyle_1612807597675/work
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.6
pydantic==1.8.2
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1616182067796/work
pyerfa @ file:///C:/ci/pyerfa_1619391071834/work
pyflakes @ file:///home/ktietz/src/ci_ipy2/pyflakes_1612551159640/work
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
pylint @ file:///C:/ci/pylint_1617136058775/work
pyls-black @ file:///tmp/build/80754af9/pyls-black_1607553132291/work
pyls-spyder @ file:///tmp/build/80754af9/pyls-spyder_1613849700860/work
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyodbc===4.0.0-unsupported
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
pyreadline==2.1
pyrsistent @ file:///C:/ci/pyrsistent_1600141795814/work
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytest==6.2.3
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1600278539111/work
python-language-server @ file:///tmp/build/80754af9/python-language-server_1607972495879/work
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
PyWavelets @ file:///C:/ci/pywavelets_1601658407916/work
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1615991616277/work
qtconsole @ file:///tmp/build/80754af9/qtconsole_1616775094278/work
QtPy==1.9.0
regex @ file:///C:/ci/regex_1617569893741/work
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
Rtree @ file:///C:/ci/rtree_1618421009405/work
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016967756/work
scikit-image==0.18.1
scikit-learn @ file:///C:/ci/scikit-learn_1614446896245/work
scipy @ file:///C:/ci/scipy_1618856128765/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1614366001199/work
sip==4.19.13
six @ file:///C:/ci/six_1605187374963/work
sniffio @ file:///C:/ci/sniffio_1614030707456/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1611258885636/work
sortedcollections @ file:///tmp/build/80754af9/sortedcollections_1611172717284/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1606865132123/work
soupsieve @ file:///tmp/build/80754af9/soupsieve_1616183228191/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1620777493457/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///home/ktietz/src/ci/sphinxcontrib-htmlhelp_1611920974801/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///home/ktietz/src/ci/sphinxcontrib-serializinghtml_1611920755253/work
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder @ file:///C:/ci/spyder_1616776239898/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1614030842607/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1618090063261/work
statsmodels==0.12.2
sympy @ file:///C:/ci/sympy_1618255511605/work
tables==3.6.1
tangled-up-in-unicode==0.1.0
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
terminado==0.9.4
testpath @ file:///home/ktietz/src/ci/testpath_1611930608132/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///tmp/build/80754af9/tifffile_1619636090847/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
tornado @ file:///C:/ci/tornado_1606942392901/work
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typed-ast @ file:///C:/ci/typed-ast_1610466535590/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
ujson @ file:///C:/ci/ujson_1611241570789/work
unicodecsv==0.14.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1615837158687/work
visions==0.7.1
watchdog @ file:///C:/ci/watchdog_1612471251191/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
widgetsnbextension==3.5.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlrd @ file:///tmp/build/80754af9/xlrd_1608072521494/work
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1617224712951/work
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
zope.event==4.5.0
zope.interface @ file:///C:/ci/zope.interface_1616357322857/work

In [3]:
import pandas as pd

In [9]:
train = read_csv('train.csv')

NameError: name 'read_csv' is not defined

In [7]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19387 entries, 0 to 19386
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   19387 non-null  object
 1   asins                2571 non-null   object
 2   brand                19129 non-null  object
 3   categories           19387 non-null  object
 4   colors               11048 non-null  object
 5   count                0 non-null      float64
 6   dateadded            19387 non-null  object
 7   dateupdated          19387 non-null  object
 8   descriptions         9904 non-null   object
 9   dimension            2991 non-null   object
 10  ean                  9999 non-null   float64
 11  features             13997 non-null  object
 12  flavors              0 non-null      float64
 13  imageurls            18342 non-null  object
 14  isbn                 0 non-null      float64
 15  keys                 19387 non-null  object
 16  manufacturer         6699 non-null   object
 17  manufacturernumber   15147 non-null  object
 18  merchants            14040 non-null  object
 19  name                 19387 non-null  object
 20  prices_amountmin     19377 non-null  object
 21  prices_amountmax     19387 non-null  object
 22  prices_availability  197 non-null    object
 23  prices_color         758 non-null    object
 24  prices_condition     12621 non-null  object
 25  prices_count         71 non-null     object
 26  prices_currency      19311 non-null  object
 27  prices_dateadded     19372 non-null  object
 28  prices_dateseen      19362 non-null  object
 29  prices_flavor        76 non-null     object
 30  prices_issale        19321 non-null  object
 31  prices_merchant      13843 non-null  object
 32  prices_offer         6091 non-null   object
 33  prices_returnpolicy  1018 non-null   object
 34  prices_shipping      5753 non-null   object
 35  prices_size          661 non-null    object
 36  prices_source        16 non-null     object
 37  prices_sourceurls    19281 non-null  object
 38  prices_warranty      108 non-null    object
 39  quantities           11 non-null     object
 40  reviews              1664 non-null   object
 41  sizes                5979 non-null   object
 42  skus                 8743 non-null   object
 43  sourceurls           19263 non-null  object
 44  upc                  10816 non-null  object
 45  vin                  46 non-null     object
 46  websiteids           8 non-null      object
 47  weight               863 non-null    object
dtypes: float64(4), object(44)
memory usage: 7.1+ MB

In [8]:
train['categories']

0               Clothing,Shoes,Men's Shoes,All Men's Shoes
1               Clothing,Shoes,Men's Shoes,All Men's Shoes
2               All Men's Shoes,Shoes,Men's Shoes,Clothing
3               All Men's Shoes,Shoes,Men's Shoes,Clothing
4               All Men's Shoes,Shoes,Men's Shoes,Clothing
                               ...
19382      Clothing, Shoes & Accessories,Men's Shoes,Boots
19383           Clothing,Shoes,Men's Shoes,All Men's Shoes
19384    Women's Sunglasses,Sunglasses,Bags & Accessori...
19385    Women's Sunglasses,Sunglasses,Bags & Accessori...
19386    Women's Sunglasses,Sunglasses,Bags & Accessori...
Name: categories, Length: 19387, dtype: object

In [10]:
train['categories'].unique()

array(["Clothing,Shoes,Men's Shoes,All Men's Shoes",
       "All Men's Shoes,Shoes,Men's Shoes,Clothing",
       "Men's Casual Shoes,Shoes,Men's Shoes,Clothing", ...,
       "Clothing,Shoes,Women's Shoes,Women's Casual Shoes,All Men's Shoes,Men's Shoes",
       "Clothing, Shoes & Accessories,Men's Clothing,Jeans,See more Men's Levi's 505 Straight Leg Regular Fit Jean...",
       'Sports,Clothing, Shoes & Jewelry,Men,Clothing,Jackets & Coats,Active & Performance,Shells'],
      dtype=object)

In [11]:
train['categories'].value_counts()

All Men's Shoes,Shoes,Men's Shoes,Clothing                                                                                                             3717
Clothing,Shoes,Men's Shoes,All Men's Shoes                                                                                                             1644
Men's Casual Shoes,Shoes,Men's Shoes,Clothing                                                                                                           699
All Men's Clothing,Men's Clothing,Men's Outerwear,Clothing, Shoes & Jewelry,Clothing                                                                    588
Clothing, Shoes & Accessories,Men's Shoes,Athletic                                                                                                      400
                                                                                                                                                       ...
Clothing,Clothing, Shoes & Jewelry,Men,Active,Athletic Socks                                                                                              1
Clothing, Shoes & Accessories,Men's Shoes,Athletic,See more Nike Cortez Basic Leather '06 Mens 316418-012 ...                                             1
Active,Men,Running,Sports & Fitness,Active Base Layers,Exercise & Fitness,Clothing, Shoes & Jewelry,Tights,Sports,Sports & Outdoors,Clothing              1
Men%27s,Gifts,Shoes,Fashions for Him,Valentine%27s Day                                                                                                    1
Clothing, Shoes & Accessories,Men's Clothing,Wholesale, Large & Small Lots,Unisex Clothing, Shoes & Accs,Unisex Accessories,Socks & Underwear,Socks       1
Name: categories, Length: 1264, dtype: int64

In [12]:
train['categories'].value_counts()[0:10]

All Men's Shoes,Shoes,Men's Shoes,Clothing                                              3717
Clothing,Shoes,Men's Shoes,All Men's Shoes                                              1644
Men's Casual Shoes,Shoes,Men's Shoes,Clothing                                            699
All Men's Clothing,Men's Clothing,Men's Outerwear,Clothing, Shoes & Jewelry,Clothing     588
Clothing, Shoes & Accessories,Men's Shoes,Athletic                                       400
Clothing,Shoes,Men's Shoes,Men's Casual Shoes                                            367
Clothing, Shoes & Accessories,Men's Accessories,Backpacks, Bags & Briefcases             289
Home Improvement,Men's Work & Safety Shoes,Work Safety Clothing and Equipment            255
Men's Dress Shoes,Shoes,Men's Shoes,Clothing                                             242
Clothing, Shoes, Accessories,Men's Sunglasses                                            203
Name: categories, dtype: int64

In [13]:
train['categories']== "Clothing, Shoes & Accessories,Men's Shoes,Athletic"

0        False
1        False
2        False
3        False
4        False
         ...
19382    False
19383    False
19384    False
19385    False
19386    False
Name: categories, Length: 19387, dtype: bool

In [15]:
interest_train=train[train['categories']== "Clothing, Shoes & Accessories,Men's Shoes,Athletic"]

In [16]:
interest_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 60 to 19296
Data columns (total 48 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   400 non-null    object
 1   asins                0 non-null      object
 2   brand                400 non-null    object
 3   categories           400 non-null    object
 4   colors               331 non-null    object
 5   count                0 non-null      float64
 6   dateadded            400 non-null    object
 7   dateupdated          400 non-null    object
 8   descriptions         49 non-null     object
 9   dimension            0 non-null      object
 10  ean                  351 non-null    float64
 11  features             400 non-null    object
 12  flavors              0 non-null      float64
 13  imageurls            399 non-null    object
 14  isbn                 0 non-null      float64
 15  keys                 400 non-null    object
 16  manufacturer         0 non-null      object
 17  manufacturernumber   25 non-null     object
 18  merchants            400 non-null    object
 19  name                 400 non-null    object
 20  prices_amountmin     400 non-null    object
 21  prices_amountmax     400 non-null    object
 22  prices_availability  0 non-null      object
 23  prices_color         0 non-null      object
 24  prices_condition     400 non-null    object
 25  prices_count         0 non-null      object
 26  prices_currency      400 non-null    object
 27  prices_dateadded     400 non-null    object
 28  prices_dateseen      400 non-null    object
 29  prices_flavor        0 non-null      object
 30  prices_issale        400 non-null    object
 31  prices_merchant      67 non-null     object
 32  prices_offer         163 non-null    object
 33  prices_returnpolicy  0 non-null      object
 34  prices_shipping      275 non-null    object
 35  prices_size          0 non-null      object
 36  prices_source        0 non-null      object
 37  prices_sourceurls    400 non-null    object
 38  prices_warranty      0 non-null      object
 39  quantities           0 non-null      object
 40  reviews              0 non-null      object
 41  sizes                377 non-null    object
 42  skus                 400 non-null    object
 43  sourceurls           400 non-null    object
 44  upc                  368 non-null    object
 45  vin                  0 non-null      object
 46  websiteids           0 non-null      object
 47  weight               0 non-null      object
dtypes: float64(4), object(44)
memory usage: 153.1+ KB

In [18]:
interest_train.iloc[0:400,[19,20,21]]

,name,prices_amountmin,prices_amountmax
60,Nike Shox Turbo Vi Sl 555341-160 White/gym Red...,119.99,119.99
113,Nike Jordan Flight Runner 2 Black/red/gray Men...,109.95,109.95
128,Nike Men's Air Max Ltd 3 (687977-002) Wolf Gre...,78.00,78.00
184,Nike Air Zoom Terra Kiger 2 Athletic Sneakers ...,69.99,69.99
202,Nib Nike Air Jordan Melo M11 Xi Hare Grey Mist...,69.99,69.99
...,...,...,...
19011,Nike Air Max Tailwind+ 5 Men Us 12 Blue Sneake...,68.99,68.99
19036,Adidas Lite Racer Mens Casual Running Shoe (bl...,51.99,51.99
19079,Nike Air Jordan Future Dark Grey Volt Sz 9 Nib,79.95,79.95
19080,Nike Air Jordan Future Dark Grey Volt Sz 9 Nib,99.94,99.94
19296,Patrick Ewing 9m Men's White/jamaica 33 High M...,44.00,44.00

In [20]:
interest_train.iloc[0:400,[19,20,21]]["prices_amountmax"].describe()

count       400
unique      216
top       69.99
freq         16
Name: prices_amountmax, dtype: object

In [21]:
train_2=interest_train.iloc[0:400,[19,20,21]]

In [22]:
train_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 60 to 19296
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              400 non-null    object
 1   prices_amountmin  400 non-null    object
 2   prices_amountmax  400 non-null    object
dtypes: object(3)
memory usage: 12.5+ KB

In [25]:
train_2["prices_amountmax"]=train_2["prices_amountmax"].astype(float)

In [26]:
train_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 60 to 19296
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              400 non-null    object
 1   prices_amountmin  400 non-null    object
 2   prices_amountmax  400 non-null    float64
dtypes: float64(1), object(2)
memory usage: 12.5+ KB

In [ ]:
train_2["prices_amountmax"]=train_2["prices_amountmax"].astype(float)

In [27]:
train_2['prices_amountmax'].describe()

count     400.000000
mean       99.501800
std       175.324776
min         4.990000
25%        46.990000
50%        69.990000
75%       104.992500
max      2799.950000
Name: prices_amountmax, dtype: float64

In [33]:
train_2['prices_amountmax'].sort_values(ascending=False)[0:9]

1452     2799.95
4427     1250.00
11249    1225.00
12444     999.00
4894      449.99
10452     445.00
1304      399.50
16561     330.00
4895      306.00
Name: prices_amountmax, dtype: float64

In [34]:
train_2['prices_amountmax']>=299.99

60       False
113      False
128      False
184      False
202      False
         ...
19011    False
19036    False
19079    False
19080    False
19296    False
Name: prices_amountmax, Length: 400, dtype: bool

In [35]:
train_2[train_2['prices_amountmax']>=299.99]

,name,prices_amountmin,prices_amountmax
1304,Nike Air Jordan 6 Retro Slam Dunk Sz 11 717302...,399.50,399.50
1452,Yeezy Boost 350 Turtle Doves Kanye West 2015 P...,2799.95,2799.95
4228,"""Nike Zoom Vapor 9.5 Tour Lg ""roger Federer Li...",299.99,299.99
4427,Adidas Boost 350 Oxford Tan Yeezy 8us Ds With ...,1250.00,1250.00
4894,Vtg Og 1997 Nike Air Jordan Xii 12 S Sz 9 Flu ...,449.99,449.99
4895,Vtg Og 1997 Nike Air Jordan Xii 12 S Sz 9 Flu ...,306.00,306.00
10452,Brand New In Box Retro Air Jordan 1 Fragment B...,445.00,445.00
11249,Nike Air Jordan Xii 12 Rare Wings Men's Shoes ...,1225.00,1225.00
12444,Adidas Yeezy Boost 350 Pirate Black Sz 9 - 100...,999.00,999.00
16561,Nike Air Jordan 11 Xi Retro Concord White/blac...,330.00,330.00